[mysql]



[mysqld]
bind-address = 0.0.0.0
port=1370
datadir=data
#default_authentication_plugin=caching_sha2_password
log_output=FILE
general_log_file=mysql.log
general_log=1
socket=mysql_9_0_1.sock
max_connections=500
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 0
log_queries_not_using_indexes = 0
pid-file = mysql.pid