[mysql]



[mysqld]
bind-address = 0.0.0.0
port=41001
datadir=data
default_authentication_plugin=mysql_native_password
log_output=FILE
general_log_file=logs/mysql.log
general_log=1
socket=mysql_8_0_34.sock
max_connections=500
