[mysql]



[mysqld]
bind-address = 0.0.0.0
port=41002
datadir=data
default_authentication_plugin=mysql_native_password
log_output=FILE
general_log_file=/Users/shreyashande/programs/mysql/8.0.32/logs/mysql.log
general_log=1
socket=/Users/shreyashande/programs/mysql/8.0.32/mysql_8_0_32.sock
max_connections=500