[mysql]



[mysqld]
bind-address = 0.0.0.0
port=3310
datadir=data
default_authentication_plugin=mysql_native_password
log_output=FILE
general_log_file=/home/shreyas/programs/mysql/8.0.32/logs/mysql.log
general_log=1
