[mysql]



[mysqld]
bind-address = 0.0.0.0
port=1370
datadir=data
#default_authentication_plugin=caching_sha2_password
log_output=FILE
general_log_file=mysql.log
general_log=1
socket=mysql_9_0_1.sock
max_connections=500